* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
	-webkit-touch-callout: none;
	/*	 prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;
	/* prevent webkit from resizing text to fit*/
	-webkit-user-select: none;
	/*	 prevent copy paste, to allow, change 'none' to 'text' */
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	color: #000;
}
/* Portrait layout (default) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:600px) {
	body {
		font-size:24px;
	}
}


@media screen and (min-aspect-ratio: 1/1) and (max-width:400px) {
	body {
		font-size: 12px;
	}
}


.page {
	height: 100%;
	font-size:100%;
}
[data-role="header"] {
	height: 10%;
	width: 100%;
    background: #000000;
}

[data-role="header"] img {
	height: 80%;
    float: left;
}

[data-role="header"] h1 {
	text-align:center;
    font-size: 20px;

}

[data-role="content"] {

}
[data-role="footer"] {
	bottom: 0;
	position: fixed;
	width: 96%;
	height: 5%;
	padding:1% 2%;
}
.smallPic {
	width: 100%;
	
}
.infoPhoto {
	height: 30%;
	width: 100%;
}
#photo {
	max-width: 49%;
	height: 100%;
	float: left;
}
#optionPhoto {
	max-width: 49%;
	float: right;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.button {
	height:90%;
	min-width:20%;
	max-width:40%;
	text-align:center;
	font-size-adjust:auto;
}
.infoResto {
	clear:both;
}
